/* Container */
.faculty-request{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-style: normal;
    margin-top:20px;
    width: 100%;
    height: 100%;
}
.fr-container-one {
    justify-content: center;
    box-sizing: border-box;
    top: 1%;
    left: -10%;
    width: 100%;
    height: 100%;
}

.fr-line {
    width: 95%;
    padding: 0 10%;
    margin-top: 10px;
    margin: auto 2.5%;
    border: 0.5px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    text-align: center;
}

.fr-title {
    font-family: 'PT Serif';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.fr-title #title {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1.8rem;
}

.fr-title li {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

/* Table */
.fr-container-two {
    font-family: 'PT Serif';
    font-style: normal;
    position: absolute;
    width: 90%;
    margin:auto 5%;
}

.fr-table {
    margin-top: 2rem;
    text-align: center;
}

.fr-table th {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.fr-table td {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.fr-table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.fr-table table {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #5f292a;
    box-sizing: border-box;
}

.fr-table table th {
    height: 10px;
    padding: 10px;
    background: #763435;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.fr-table table td {
    height: 40px;
    border-bottom: 1px solid #000000;
}

.text-center .btn-confirm {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.text-center .btn-decline {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}